<center><div id="banner">
<h1> Tactical Warfare </h1>
</div>
<b>Glory awaits!</b><br>

<div class="tutorial-button">
<%= link_to "Watch The Tutorial!", 'https://www.loom.com/share/a280195d242a44cda057c54546745fd8?sid=49dae7ce-dbb5-4a0d-b383-0e244c4ac6e2', class: 'tutorial-link', target: '_blank' %>
</div>

<% if !@user.nil? %>
<br><%= button_to "Continue", user_path(@user), method: :get, class: "big-button" %> <br>
<%= button_to 'Sign Out', "/logout", method: :delete, class: "big-button" %>
<% else %>
<%= button_to "Sign Up!", "/sign_up", method: :get, class: "big-button" %>
-OR-
<%= button_to "Sign In!", "/login", method: :get, class: "big-button" %> <br>
<% end %>

<div class="green-bg">
<h2>Future Updates:</h2>
</div>
Messaging Feature 
<br>Different Battle Types (including naval invasions)
<br>Alliances
<br>Game Rounds 
<br>Resource System 
<br>MANY more units with unique bonuses
<br>Researchable Tech (using labs) 
<br>Report/Message Notifications 
<br>Recruit/Build by number rather than turns used 
<br>Attack Range by Score 
<br>Espionage 
<br>Missiles 
<br>Government Types with Bonuses 
<br>Public Opinion with Nationwide Effects


<div class="green-bg"><details>
  <summary><h3><b>Update Logs</b></h3></summary>
  <br><b>06/08/2023</b> Tweak lab upkeep and research point cost
  <br><b>05/08/2023</b> Add unit decomission and infantry rebalance
  <br><b>04/08/2023</b> Fix battle report casualites (defender retaliation was being counted as attacker kills)
  <br><b>03/08/2023</b> Add basic research for nations
  <br><b>29/07/2023</b> Adjust infrastructure upkeep and add building demo
  <br><b>26/07/2023</b> Add battle loot and battle victor and adjust combat logic
</details>
</div>
</center>