<center><div id="banner">
<h1>Tactical Warfare</h1>
</div>
<h4><div id="banner-2">
<table class='full-table'>
  <tr>
    <td>
      <%= link_to 'Main&nbsp;Menu'.html_safe, root_path, method: :get, class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Dashboard', user_game_path(@user_game), class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Explore&nbsp;Land'.html_safe,"/user_games/#{@user_game.id}/explore", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Build', "/user_games/#{@user_game.id}/build", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Research', "/user_games/#{@user_game.id}/research", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Nation&nbsp;Leaderboard'.html_safe, "/user_games/#{@user_game.id}/countries", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to "Reports&nbsp;(#{@unread_reports.length})".html_safe, "/user_games/#{@user_game.id}/reports", class: 'banner-links' %>
    </td>
  </tr>
</table>
</div>
</h4>

<div class="green-bg">
 <details>
 <summary><b>Recruitment</b><br></summary>

  <li>Recrtuitment is ordered by the number of turns you wish to invest</li>
  <li>Recruitment will round the the lowest whole number (IE 0.9 is 0, 20.9 is 20)</li>
  <li>Upkeep is per unit per turn</li>
  <li>Soft Attack is damage vs soft unit types (like infantry)</li>
  <li>Hard Attack is damage vs armored units</li>
</details>
</div>
<div class="tan-bg">
<h4>Turns: <%=@country.turns%></h4>

<h4>Recruit Infantry: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>

<details>
  <summary><b>Infantry</b></summary>

  <li>Soft Attack: 8</li>
  <li>Hard Attack: 2</li>
  <li>Air Attack: 0</li>
  <li>Naval Attack: 0</li>
  <li>Health: 15</li>
  <li>Recruitment Cost: <%=number_to_currency(1500 * @country.barracks)%> per turn</li>
  <li>Recruitment Rate: <%=150/1000.to_f * @country.barracks%> per turn</li>
  <li>Upkeep: $100</li>
  <li>Population: 1 </li>
</details>

    <%= form.label :turns_to_recruit_infantry %> <br>
    <%= form.number_field :infantry %> <br> 

<details>
  <summary><b>Anti-Air Infantry</b></summary>

  <li>Soft Attack: 5</li>
  <li>Hard Attack: 5</li>
  <li>Air Attack: 7</li>
  <li>Naval Attack: 0</li>
  <li>Health: 10</li>
  <li>Recruitment Cost: <%=number_to_currency(1500 * @country.barracks)%> per turn</li>
  <li>Recruitment Rate: <%=150/1000.to_f * @country.barracks%> per turn</li>
  <li>Upkeep: $200</li>
  <li>Population: 1 </li>
</details>

    <%= form.label :turns_to_recruit_air_infantry %> <br>
    <%= form.number_field :air_infantry %> <br> 

<details>
  <summary><b>Marine Infantry</b></summary>

  <li>Soft Attack: 10</li>
  <li>Hard Attack: 5</li>
  <li>Air Attack: 0</li>
  <li>Naval Attack: 0</li>
  <li>Health: 12</li>
  <li>Recruitment Cost: <%=number_to_currency(1500 * @country.barracks)%> per turn</li>
  <li>Recruitment Rate: <%=150/1000.to_f * @country.barracks%> per turn</li>
  <li>Upkeep: $200</li>
  <li>Population: 1 </li>
</details>

    <%= form.label :turns_to_recruit_marines %> <br>
    <%= form.number_field :sea_infantry %> <br> 

<details>
  <summary><b>Anti-Armor Infantry</b></summary>

  <li>Soft Attack: 5</li>
  <li>Hard Attack: 20</li>
  <li>Air Attack: 1</li>
  <li>Naval Attack: 0</li>
  <li>Health: 10</li>
  <li>Recruitment Cost: <%=number_to_currency(2500 * @country.barracks)%> per turn</li>
  <li>Recruitment Rate: <%=150/1000.to_f * @country.barracks%> per turn</li>
  <li>Upkeep: $300</li>
  <li>Population: 1 </li>
</details>

    <%= form.label :turns_to_recruit_armor_infantry %> <br>
    <%= form.number_field :armor_infantry %> <br>
  <%= form.submit "Recruit", class: "button" %>
<% end %><br>

<h4>Recruit Armor: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
    
<details>
  <summary><b>Armored Vehicles</b></summary>

  <li>Soft Attack: 100</li>
  <li>Hard Attack: 50</li>
  <li>Air Attack: 0</li>
  <li>Naval Attack: 0</li>
  <li>Health: 100</li>
  <li>Recruitment Cost: <%=number_to_currency(59000 * @country.armory)%> per turn</li>
  <li>Recruitment Rate: <%=50/1000.to_f * @country.armory%> per turn</li>
  <li>Upkeep: $1000</li>
  <li>Population: 6 </li>
</details>

    <%= form.label :turns_to_recruit_armored_vehicles %> <br>
    <%= form.number_field :armored %> <br> 

<details>
  <summary><b>Anti-Air Vehicles</b></summary>

  <li>Soft Attack: 60</li>
  <li>Hard Attack: 50</li>
  <li>Air Attack: 100</li>
  <li>Naval Attack: 5</li>
  <li>Health: 50</li>
  <li>Recruitment Cost: <%=number_to_currency(50000 * @country.armory)%> per turn</li>
  <li>Recruitment Rate: <%=50/1000.to_f * @country.armory%> per turn</li>
  <li>Upkeep: $1000</li>
  <li>Population: 6 </li>
</details>

    <%= form.label :turns_to_recruit_air_vehicles %> <br>
    <%= form.number_field :air_armored %> <br>

<details>
  <summary><b>Amphibious Vehicles</b></summary>

  <li>Soft Attack: 100</li>
  <li>Hard Attack: 100</li>
  <li>Air Attack: 20</li>
  <li>Naval Attack: 20</li>
  <li>Health: 150</li>
  <li>Recruitment Cost: <%=number_to_currency(100000 * @country.armory)%> per turn</li>
  <li>Recruitment Rate: <%=50/1000.to_f * @country.armory%> per turn</li>
  <li>Upkeep: $2500</li>
  <li>Population: 8 </li>
</details>

    <%= form.label :turns_to_recruit_amphibious_vehicles %> <br>
    <%= form.number_field :sea_armored %> <br> 

<details>
  <summary><b>Tanks</b></summary>

  <li>Soft Attack: 150</li>
  <li>Hard Attack: 250</li>
  <li>Air Attack: 0</li>
  <li>Naval Attack: 0</li>
  <li>Health: 500</li>
  <li>Recruitment Cost: <%=number_to_currency(250000 * @country.armory)%> per turn</li>
  <li>Recruitment Rate: <%=25/1000.to_f * @country.armory%> per turn</li>
  <li>Upkeep: $10,000</li>
  <li>Population: 8 </li>
</details>

    <%= form.label :turns_to_recruit_tanks %> <br>
    <%= form.number_field :armor_armored %> <br>
  <%= form.submit "Recruit", class: "button" %>
<% end %><br>

<h4>Recruit Aircraft: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
<details>
  <summary><b>Multi-Role Fighters</b></summary>

  <li>Soft Attack: 1250</li>
  <li>Hard Attack: 1250</li>
  <li>Air Attack: 2000</li>
  <li>Naval Attack: 1250</li>
  <li>Health: 1250</li>
  <li>Recruitment Cost: <%=number_to_currency(900000 * @country.hangars)%> per turn</li>
  <li>Recruitment Rate: <%=15/1000.to_f * @country.hangars%> per turn</li>
  <li>Upkeep: $40,000</li>
  <li>Population: 10 </li>
</details>   
    
    <%= form.label :turns_to_recruit_multi_role_fighters %><br>
    <%= form.number_field :aircraft %><br> 
   
<details>
  <summary><b>Fighter Jets</b></summary>

  <li>Soft Attack: 750</li>
  <li>Hard Attack: 500</li>
  <li>Air Attack: 5000</li>
  <li>Naval Attack: 250</li>
  <li>Health: 3000</li>
  <li>Recruitment Cost: <%=number_to_currency(1500000 * @country.hangars)%> per turn</li>
  <li>Recruitment Rate: <%=10/1000.to_f * @country.hangars%> per turn</li>
  <li>Upkeep: $150,000</li>
  <li>Population: 10 </li>
</details>

    <%= form.label :turns_to_recruit_fighter_jets %><br>
    <%= form.number_field :air_aircraft %><br> 

<details>
  <summary><b>Naval Bombers</b></summary>

  <li>Soft Attack: 2500</li>
  <li>Hard Attack: 2500</li>
  <li>Air Attack: 0</li>
  <li>Naval Attack: 10000</li>
  <li>Health: 2500</li>
  <li>Recruitment Cost: <%=number_to_currency(750000000 * 8 * 0.001 * @country.hangars)%> per turn</li>
  <li>Recruitment Rate: <%=8/1000.to_f * @country.hangars%> per turn</li>
  <li>Upkeep: $600,000</li>
  <li>Population: 10 </li>
</details>

    <%= form.label :turns_to_recruit_naval_bombers %><br>
    <%= form.number_field :sea_aircraft %><br> 

<details>
  <summary><b>Heavy Bombers</b></summary>

  <li>Soft Attack: 5000</li>
  <li>Hard Attack: 10000</li>
  <li>Air Attack: 0</li>
  <li>Naval Attack: 5000</li>
  <li>Health: 1500</li>
  <li>Recruitment Cost: <%=number_to_currency(5000000 * @country.hangars)%> per turn</li>
  <li>Recruitment Rate: <%=5/1000.to_f * @country.hangars%> per turn</li>
  <li>Upkeep: $1,000,000</li>
  <li>Population: 10 </li>
</details>

    <%= form.label :turns_to_recruit_heavy_bombers %><br>
    <%= form.number_field :armor_aircraft %> <br>
  <%= form.submit "Recruit", class: "button" %>
<% end %><br>

<h4>Recruit Ships: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
    
<details>
  <summary><b>Corvettes</b></summary>

  <li>Soft Attack: 1500</li>
  <li>Hard Attack: 1000</li>
  <li>Air Attack: 2000</li>
  <li>Naval Attack: 5000</li>
  <li>Health: 5000</li>
  <li>Recruitment Cost: <%=number_to_currency(45000000 * @country.dockyards)%> per turn</li>
  <li>Recruitment Rate: <%=10/1000.to_f * @country.dockyards%> per turn</li>
  <li>Upkeep: $100,000</li>
  <li>Population: 300 </li>
</details>

    <%= form.label :turns_to_recruit_corvettes %> <br>
    <%= form.number_field :ships %> <br>

<details>
  <summary><b>Frigates</b></summary>

  <li>Soft Attack: 2000</li>
  <li>Hard Attack: 3000</li>
  <li>Air Attack: 20000</li>
  <li>Naval Attack: 5000</li>
  <li>Health: 20000</li>
  <li>Recruitment Cost: <%=number_to_currency(5000000 * @country.dockyards)%> per turn</li>
  <li>Recruitment Rate: <%=5/1000.to_f * @country.dockyards%> per turn</li>
  <li>Upkeep: $1,000,000</li>
  <li>Population: 500 </li>
</details>

    <%= form.label :turns_to_recruit_frigates %> <br>
    <%= form.number_field :air_ships %> <br>

<details>
  <summary><b>Destroyers</b></summary>

  <li>Soft Attack: 5000</li>
  <li>Hard Attack: 10000</li>
  <li>Air Attack: 4000</li>
  <li>Naval Attack: 40000</li>
  <li>Health: 25000</li>
  <li>Recruitment Cost: <%=number_to_currency(5000000 * @country.dockyards)%> per turn</li>
  <li>Recruitment Rate: <%=3/1000.to_f * @country.dockyards%> per turn</li>
  <li>Upkeep: $1,000,000</li>
  <li>Population: 600 </li>
</details>

    <%= form.label :turns_to_recruit_destroyers %> <br>
    <%= form.number_field :sea_ships %> <br>

<details>
  <summary><b>Cruisers</b></summary>

  <li>Soft Attack: 8000</li>
  <li>Hard Attack: 15000</li>
  <li>Air Attack: 10000</li>
  <li>Naval Attack: 25000</li>
  <li>Health: 90000</li>
  <li>Recruitment Cost: <%=number_to_currency(2000000 * @country.dockyards)%> per turn</li>
  <li>Recruitment Rate: <%=2/1000.to_f * @country.dockyards%> per turn</li>
  <li>Upkeep: $2,500,000</li>
  <li>Population: 3000 </li>
</details>

    <%= form.label :turns_to_recruit_cruisers %> <br>
    <%= form.number_field :armor_ships %> <br>
  <%= form.submit "Recruit", class: "button" %>
<% end %><br>
</div>
<div class="green-bg">
<details>
 <summary><h3>Decomission<h3></summary>
  <%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
      <%= form.label :decomission_infantry %>
      <%= form.number_field :basic_infantry_decomission %> You have: <%=@country.basic_infantry%><br>
      <%= form.label :decomission_anti_air_infantry %>
      <%= form.number_field :air_infantry_decomission%> You have: <%=@country.air_infantry%><br>
      <%= form.label :decomission_marines %>
      <%= form.number_field :sea_infantry_decomission %> You have: <%=@country.sea_infantry%><br>
      <%= form.label :decomission_armor_infantry %>
      <%= form.number_field :armor_infantry_decomission %> You have: <%=@country.armor_infantry%><br>
      <%= form.label :decomission_armored_vehicles%>
      <%= form.number_field :basic_armored_decomission %> You have: <%=@country.basic_armored%><br>
      <%= form.label :decomission_anti_air_vehicles %>
      <%= form.number_field :air_armored_decomission%> You have: <%=@country.air_armored%><br>
      <%= form.label :decomission_amphibious_vehicles %>
      <%= form.number_field :sea_armored_decomission %> You have: <%=@country.sea_armored%><br>
      <%= form.label :decomission_tanks %>
      <%= form.number_field :armor_armored_decomission %> You have: <%=@country.armor_armored%><br>
      <%= form.label :decomission_multi_role_fighters %>
      <%= form.number_field :basic_aircraft_decomission %> You have: <%=@country.basic_aircraft%><br>
      <%= form.label :decomission_fighter_jets %>
      <%= form.number_field :air_aircraft_decomission%> You have: <%=@country.air_aircraft%><br>
      <%= form.label :decomission_naval_bombers %>
      <%= form.number_field :sea_aircraft_decomission %> You have: <%=@country.sea_aircraft%><br>
      <%= form.label :decomission_heavy_bombers %>
      <%= form.number_field :armor_aircraft_decomission %> You have: <%=@country.armor_aircraft%><br>
      <%= form.label :decomission_corvettes %>
      <%= form.number_field :basic_ship_decomission %> You have: <%=@country.basic_ship%><br>
      <%= form.label :decomission_frigates %>
      <%= form.number_field :air_ship_decomission%> You have: <%=@country.air_ship%><br>
      <%= form.label :decomission_destroyers %>
      <%= form.number_field :sea_ship_decomission %> You have: <%=@country.sea_ship%><br>
      <%= form.label :decomission_cruisers %>
      <%= form.number_field :armor_ship_decomission %> You have: <%=@country.armor_ship%><br>
    <%= form.submit "Decomission", data: { turbo_confirm: 'Are you sure?' }, class: "button" %>
  <% end %><br>
</details>
</div>
</center>