<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_path, method: :get, style: 'pull-right' %></li>
    <li><%= link_to 'Dashboard', user_game_path(@user_game), style: 'pull-right' %></li>
    <li><%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", style: 'pull-right' %></li>
    <li><%= link_to 'Explore Land',"/user_games/#{@user_game.id}/explore", style: 'pull-right' %></li>
    <li><%= link_to 'Build', "/user_games/#{@user_game.id}/build", style: 'pull-right' %></li>
    <li><%= link_to 'View Nations', "/user_games/#{@user_game.id}/countries", style: 'pull-right' %></li>
    <li><%= link_to 'View Reports', "/user_games/#{@user_game.id}/reports", style: 'pull-right' %></li>
  </ul>
</nav>

Turns: <%=@country.turns%><br>

<h4>Recruit Infantry: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
    <%= form.label :turns_to_recruit_infantry %> <br>
    <%= form.number_field :infantry %> <br> 
    <%= form.label :turns_to_recruit_anti_air_infantry %> <br>
    <%= form.number_field :air_infantry %> <br> 
    <%= form.label :turns_to_recruit_marines %> <br>
    <%= form.number_field :sea_infantry %> <br> 
    <%= form.label :turns_to_recruit_anti_armor_infantry %> <br>
    <%= form.number_field :armor_infantry %> <br>
  <%= form.submit "Recruit" %>
<% end %><br>

<h4>Recruit Armor: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
    <%= form.label :turns_to_recruit_armored_vehicles %> <br>
    <%= form.number_field :armored %> <br> 
    <%= form.label :turns_to_recruit_anti_air_vehicles %> <br>
    <%= form.number_field :air_armored %> <br> 
    <%= form.label :turns_to_recruit_amphibious_vehicles %> <br>
    <%= form.number_field :sea_armored %> <br> 
    <%= form.label :turns_to_recruit_tanks %> <br>
    <%= form.number_field :armor_armored %> <br>
  <%= form.submit "Recruit" %>
<% end %><br>

<h4>Recruit Aircraft: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
    <%= form.label :turns_to_recruit_multi_role_fighters %><br>
    <%= form.number_field :aircraft %><br> 
    <%= form.label :turns_to_recruit_fighter_jets %><br>
    <%= form.number_field :air_aircraft %><br> 
    <%= form.label :turns_to_recruit_naval_bombers %><br>
    <%= form.number_field :sea_aircraft %><br> 
    <%= form.label :turns_to_recruit_heavy_bombers %><br>
    <%= form.number_field :armor_aircraft %> <br>
  <%= form.submit "Recruit" %>
<% end %><br>

<h4>Recruit Ships: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
    <%= form.label :turns_to_recruit_corvettes %> <br>
    <%= form.number_field :ships %> <br>
    <%= form.label :turns_to_recruit_frigates %> <br>
    <%= form.number_field :air_ships %> <br>
    <%= form.label :turns_to_recruit_destroyers %> <br>
    <%= form.number_field :sea_ships %> <br>
    <%= form.label :turns_to_recruit_cruisers %> <br>
    <%= form.number_field :armor_ships %> <br>
  <%= form.submit "Recruit" %>
<% end %><br>