<center><div id="banner">
<h1>Tactical Warfare</h1>
</div>
<h4><div id="banner-2">
<table class='full-table'>
  <tr>
    <td>
      <%= link_to 'Main&nbsp;Menu'.html_safe, root_path, method: :get, class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Dashboard', user_game_path(@user_game), class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Explore&nbsp;Land'.html_safe,"/user_games/#{@user_game.id}/explore", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Build', "/user_games/#{@user_game.id}/build", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Research', "/user_games/#{@user_game.id}/research", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Nation&nbsp;Leaderboard'.html_safe, "/user_games/#{@user_game.id}/countries", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to "Reports&nbsp;(#{@unread_reports.length})".html_safe, "/user_games/#{@user_game.id}/reports", class: 'banner-links' %>
    </td>
  </tr>
</table>
</div>
</h4>

<% def render_stat(label, obj, method_name) %>
  <% return unless obj.respond_to?(method_name) %>
  <% value = obj.public_send(method_name) %>
  <% value = number_to_currency(value) if [:cost, :upkeep].include?(method_name) %>
  <li><%= label %>: <%= value %></li>
<% end %>

<% def render_unit_stats(unit, building_count:, cost_per_turn_proc:, recruitment_per_turn_proc:) %>
  <% render_stat("Soft Attack", unit, :soft_attack) %>
  <% render_stat("Hard Attack", unit, :hard_attack) %>
  <% render_stat("Air Attack", unit, :air_attack) %>
  <% render_stat("Naval Attack", unit, :naval_attack) %>
  <% render_stat("Health", unit, :health) %>
  <li>Recruitment Cost: <%= number_to_currency(cost_per_turn_proc.call(building_count)) %> per turn</li>
  <li>Recruitment Rate: <%= recruitment_per_turn_proc.call(building_count) %> per turn</li>
  <% render_stat("Upkeep", unit, :upkeep) %>
  <% render_stat("Population", unit, :population) %>
<% end %>

<div class="green-bg">
<h3>Recruit & Decomission</h3>
 <details>
 <summary><b>Recruitment Info</b><br></summary>

  <li>Recrtuitment is ordered by the number of turns you wish to invest</li>
  <li>Recruitment will round the the lowest whole number (IE 0.9 is 0, 20.9 is 20)</li>
  <li>Upkeep is per unit per turn</li>
  <li>Soft Attack is damage vs soft unit types (like infantry)</li>
  <li>Hard Attack is damage vs armored units</li>
</details>
<div class="tan-bg">
<h4>Turns: <%=@country.turns%></h4>

<h4>Recruit Infantry: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>

  <% @basic_infantry = BasicInfantry.new(1) %>
  <details>
    <summary><b><%= @basic_infantry.name %></b></summary>
    <ul>
      <% render_unit_stats(@basic_infantry,
          building_count: @country.barracks,
          cost_per_turn_proc: ->(b) { 1500 * b },
          recruitment_per_turn_proc: ->(b) { (150 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_infantry %> <br>
  <%= form.number_field :infantry %> <br>

  <% @air_infantry = AirInfantry.new(1) %>
  <details>
    <summary><b><%= @air_infantry.name %></b></summary>
    <ul>
      <% render_unit_stats(@air_infantry,
          building_count: @country.barracks,
          cost_per_turn_proc: ->(b) { 1500 * b },
          recruitment_per_turn_proc: ->(b) { (150 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_air_infantry %> <br>
  <%= form.number_field :air_infantry %> <br>

  <% @sea_infantry = SeaInfantry.new(1) %>
  <details>
    <summary><b><%= @sea_infantry.name %></b></summary>
    <ul>
      <% render_unit_stats(@sea_infantry,
          building_count: @country.barracks,
          cost_per_turn_proc: ->(b) { 1500 * b },
          recruitment_per_turn_proc: ->(b) { (150 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_marines %> <br>
  <%= form.number_field :sea_infantry %> <br>

  <% @armor_infantry = ArmorInfantry.new(1) %>
  <details>
    <summary><b><%= @armor_infantry.name %></b></summary>
    <ul>
      <% render_unit_stats(@armor_infantry,
          building_count: @country.barracks,
          cost_per_turn_proc: ->(b) { 2500 * b },
          recruitment_per_turn_proc: ->(b) { (150 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_armor_infantry %> <br>
  <%= form.number_field :armor_infantry %> <br>
  <%= form.submit "Recruit", class: "button" %>
<% end %><br>

<h4>Recruit Armor: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>

  <% @basic_armored = BasicArmored.new(1) %>
  <details>
    <summary><b><%= @basic_armored.name %></b></summary>
    <ul>
      <% render_unit_stats(@basic_armored,
          building_count: @country.armory,
          cost_per_turn_proc: ->(b) { 50_000 * b },
          recruitment_per_turn_proc: ->(b) { (50 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_armored_vehicles %> <br>
  <%= form.number_field :armored %> <br>

  <% @air_armored = AirArmored.new(1) %>
  <details>
    <summary><b><%= @air_armored.name %></b></summary>
    <ul>
      <% render_unit_stats(@air_armored,
          building_count: @country.armory,
          cost_per_turn_proc: ->(b) { 50_000 * b },
          recruitment_per_turn_proc: ->(b) { (50 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_air_vehicles %> <br>
  <%= form.number_field :air_armored %> <br>

  <% @sea_armored = SeaArmored.new(1) %>
  <details>
    <summary><b><%= @sea_armored.name %></b></summary>
    <ul>
      <% render_unit_stats(@sea_armored,
          building_count: @country.armory,
          cost_per_turn_proc: ->(b) { 100_000 * b },
          recruitment_per_turn_proc: ->(b) { (50 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_amphibious_vehicles %> <br>
  <%= form.number_field :sea_armored %> <br>

  <% @armor_armored = ArmorArmored.new(1) %>
  <details>
    <summary><b><%= @armor_armored.name %></b></summary>
    <ul>
      <% render_unit_stats(@armor_armored,
          building_count: @country.armory,
          cost_per_turn_proc: ->(b) { 250_000 * b },
          recruitment_per_turn_proc: ->(b) { (25 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_tanks %> <br>
  <%= form.number_field :armor_armored %> <br>
  <%= form.submit "Recruit", class: "button" %>
<% end %><br>

<h4>Recruit Aircraft: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>

<details>
  <% @transport_helicopter = TransportHelicopter.new(1) %>
  <summary><b><%=@transport_helicopter.name%></b></summary>
  <ul>
    <% render_unit_stats(@transport_helicopter,
        building_count: @country.hangars,
        cost_per_turn_proc: ->(b) { @transport_helicopter.cost_per_turn(b) },
        recruitment_per_turn_proc: ->(b) { @transport_helicopter.recruitment_per_turn(b) }
      )
    %>
  </ul>
</details>

  <%= form.label :turns_to_recruit_transport_helicopters %><br>
  <%= form.number_field :transport_helicopter %><br>

<details>
  <% @attack_helicopter = AttackHelicopter.new(1) %>
  <summary><b><%=@attack_helicopter.name%></b></summary>
  <ul>
    <% render_unit_stats(@attack_helicopter,
        building_count: @country.hangars,
        cost_per_turn_proc: ->(b) { @attack_helicopter.cost_per_turn(b) },
        recruitment_per_turn_proc: ->(b) { @attack_helicopter.recruitment_per_turn(b) }
      )
    %>
  </ul>
</details>

  <%= form.label :turns_to_recruit_attack_helicopters %><br>
  <%= form.number_field :attack_helicopter %><br>

<details>
  <% @naval_helicopter = NavalHelicopter.new(1) %>
  <summary><b><%=@naval_helicopter.name%></b></summary>
  <ul>
    <% render_unit_stats(@naval_helicopter,
        building_count: @country.hangars,
        cost_per_turn_proc: ->(b) { @naval_helicopter.cost_per_turn(b) },
        recruitment_per_turn_proc: ->(b) { @naval_helicopter.recruitment_per_turn(b) }
      )
    %>
  </ul>
</details>

  <%= form.label :turns_to_recruit_naval_helicopters %><br>
  <%= form.number_field :naval_helicopter %><br>

  <% @basic_aircraft = BasicAircraft.new(1) %>
  <details>
    <summary><b><%= @basic_aircraft.name %></b></summary>
    <ul>
      <% render_unit_stats(@basic_aircraft,
          building_count: @country.hangars,
          cost_per_turn_proc: ->(b) { 900_000 * b },
          recruitment_per_turn_proc: ->(b) { (15 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_multi_role_fighters %><br>
  <%= form.number_field :aircraft %><br>

  <% @air_aircraft = AirAircraft.new(1) %>
  <details>
    <summary><b><%= @air_aircraft.name %></b></summary>
    <ul>
      <% render_unit_stats(@air_aircraft,
          building_count: @country.hangars,
          cost_per_turn_proc: ->(b) { 1_500_000 * b },
          recruitment_per_turn_proc: ->(b) { (10 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_fighter_jets %><br>
  <%= form.number_field :air_aircraft %><br>

  <% @sea_aircraft = SeaAircraft.new(1) %>
  <details>
    <summary><b><%= @sea_aircraft.name %></b></summary>
    <ul>
      <% render_unit_stats(@sea_aircraft,
          building_count: @country.hangars,
          cost_per_turn_proc: ->(b) { 750_000_000 * 8 * 0.001 * b },
          recruitment_per_turn_proc: ->(b) { (8 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_naval_bombers %><br>
  <%= form.number_field :sea_aircraft %><br>

  <% @armor_aircraft = ArmorAircraft.new(1) %>
  <details>
    <summary><b><%= @armor_aircraft.name %></b></summary>
    <ul>
      <% render_unit_stats(@armor_aircraft,
          building_count: @country.hangars,
          cost_per_turn_proc: ->(b) { 5_000_000 * b },
          recruitment_per_turn_proc: ->(b) { (5 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_heavy_bombers %><br>
  <%= form.number_field :armor_aircraft %> <br>
  <%= form.submit "Recruit", class: "button" %>
<% end %><br>

<h4>Recruit Ships: </h4>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>

  <% @basic_ship = BasicShip.new(1) %>
  <details>
    <summary><b><%= @basic_ship.name %></b></summary>
    <ul>
      <% render_unit_stats(@basic_ship,
          building_count: @country.dockyards,
          cost_per_turn_proc: ->(b) { 45_000_000 * b },
          recruitment_per_turn_proc: ->(b) { (10 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_corvettes %> <br>
  <%= form.number_field :ship %> <br>

  <% @air_ship = AirShip.new(1) %>
  <details>
    <summary><b><%= @air_ship.name %></b></summary>
    <ul>
      <% render_unit_stats(@air_ship,
          building_count: @country.dockyards,
          cost_per_turn_proc: ->(b) { 5_000_000 * b },
          recruitment_per_turn_proc: ->(b) { (5 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_frigates %> <br>
  <%= form.number_field :air_ship %> <br>

  <% @sea_ship = SeaShip.new(1) %>
  <details>
    <summary><b><%= @sea_ship.name %></b></summary>
    <ul>
      <% render_unit_stats(@sea_ship,
          building_count: @country.dockyards,
          cost_per_turn_proc: ->(b) { 5_000_000 * b },
          recruitment_per_turn_proc: ->(b) { (3 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_destroyers %> <br>
  <%= form.number_field :sea_ship %> <br>

  <% @armor_ship = ArmorShip.new(1) %>
  <details>
    <summary><b><%= @armor_ship.name %></b></summary>
    <ul>
      <% render_unit_stats(@armor_ship,
          building_count: @country.dockyards,
          cost_per_turn_proc: ->(b) { 2_000_000 * b },
          recruitment_per_turn_proc: ->(b) { (2 / 1000.to_f) * b }
        )
      %>
    </ul>
  </details>

  <%= form.label :turns_to_recruit_cruisers %> <br>
  <%= form.number_field :armor_ship %> <br>
  <%= form.submit "Recruit", class: "button" %>
<% end %><br>
</div>

<div class="tan-bg">
<details>
 <summary><h3>Decomission<h3></summary>
  <%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
      <%= form.label :decomission_infantry %>
      <%= form.number_field :basic_infantry_decomission %> You have: <%=@country.basic_infantry%><br>
      <%= form.label :decomission_anti_air_infantry %>
      <%= form.number_field :air_infantry_decomission%> You have: <%=@country.air_infantry%><br>
      <%= form.label :decomission_marines %>
      <%= form.number_field :sea_infantry_decomission %> You have: <%=@country.sea_infantry%><br>
      <%= form.label :decomission_armor_infantry %>
      <%= form.number_field :armor_infantry_decomission %> You have: <%=@country.armor_infantry%><br>
      <%= form.label :decomission_armored_vehicles%>
      <%= form.number_field :basic_armored_decomission %> You have: <%=@country.basic_armored%><br>
      <%= form.label :decomission_anti_air_vehicles %>
      <%= form.number_field :air_armored_decomission%> You have: <%=@country.air_armored%><br>
      <%= form.label :decomission_amphibious_vehicles %>
      <%= form.number_field :sea_armored_decomission %> You have: <%=@country.sea_armored%><br>
      <%= form.label :decomission_tanks %>
      <%= form.number_field :armor_armored_decomission %> You have: <%=@country.armor_armored%><br>
      <%= form.label :decomission_transport_helicopters %>
      <%= form.number_field :transport_helicopter_decomission %> You have: <%=@country.transport_helicopter%><br>
      <%= form.label :decomission_attack_helicopters %>
      <%= form.number_field :attack_helicopter_decomission %> You have: <%=@country.attack_helicopter%><br>
      <%= form.label :decomission_naval_helicopters %>
      <%= form.number_field :naval_helicopter_decomission %> You have: <%=@country.naval_helicopter%><br>
      <%= form.label :decomission_multi_role_fighters %>
      <%= form.number_field :basic_aircraft_decomission %> You have: <%=@country.basic_aircraft%><br>
      <%= form.label :decomission_fighter_jets %>
      <%= form.number_field :air_aircraft_decomission%> You have: <%=@country.air_aircraft%><br>
      <%= form.label :decomission_naval_bombers %>
      <%= form.number_field :sea_aircraft_decomission %> You have: <%=@country.sea_aircraft%><br>
      <%= form.label :decomission_heavy_bombers %>
      <%= form.number_field :armor_aircraft_decomission %> You have: <%=@country.armor_aircraft%><br>
      <%= form.label :decomission_corvettes %>
      <%= form.number_field :basic_ship_decomission %> You have: <%=@country.basic_ship%><br>
      <%= form.label :decomission_frigates %>
      <%= form.number_field :air_ship_decomission%> You have: <%=@country.air_ship%><br>
      <%= form.label :decomission_destroyers %>
      <%= form.number_field :sea_ship_decomission %> You have: <%=@country.sea_ship%><br>
      <%= form.label :decomission_cruisers %>
      <%= form.number_field :armor_ship_decomission %> You have: <%=@country.armor_ship%><br>
    <%= form.submit "Decomission", data: { turbo_confirm: 'Are you sure?' }, class: "button" %>
  <% end %><br>
</details>
</div>
</center>
</div>