<h4><div id="banner">
<table>
  <tr>
    <td>
      <%= link_to 'Home', root_path, method: :get, style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Dashboard', user_game_path(@user_game), style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Explore&nbsp;Land',"/user_games/#{@user_game.id}/explore", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Build', "/user_games/#{@user_game.id}/build", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Research', "/user_games/#{@user_game.id}/research", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'View&nbsp;Nations', "/user_games/#{@user_game.id}/countries", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'View&nbsp;Reports', "/user_games/#{@user_game.id}/reports", style: 'color: rgb(250, 235, 215)' %>
    </td>
  </tr>
</table>
</div>
</h4>


<h3>Attack Reports:</h3><br> 
<% @attack_reports.each do |report|%>
<%= link_to "Battle # #{report.id}, Attacker: #{Country.find(report.attacker_country_id).name}, Defender: #{Country.find(report.defender_country_id).name}", "/user_games/#{@user_game.id}/country_battle_reports/#{report.id}"%><br>
<% end %>


<h3>Defense Reports:</h3><br> 
<% @defense_reports.each do |report|%>
<%= link_to "Battle # #{report.id}, Attacker: #{Country.find(report.attacker_country_id).name}, Defender: #{Country.find(report.defender_country_id).name}", "/user_games/#{@user_game.id}/country_battle_reports/#{report.id}"%><br>
<% end %>