<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <ul class="nav navbar-nav">
    <li><%= link_to 'Home', root_path, method: :get, style: 'pull-right' %></li>
    <li><%= link_to 'Dashboard', user_game_path(@user_game), style: 'pull-right' %></li>
    <li><%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", style: 'pull-right' %></li>
    <li><%= link_to 'Explore Land',"/user_games/#{@user_game.id}/explore", style: 'pull-right' %></li>
    <li><%= link_to 'Build', "/user_games/#{@user_game.id}/build", style: 'pull-right' %></li>
    <li><%= link_to 'View Nations', "/user_games/#{@user_game.id}/countries", style: 'pull-right' %></li>
    <li><%= link_to 'View Reports', "/user_games/#{@user_game.id}/reports", style: 'pull-right' %></li>
  </ul>
</nav>


<h4>Attacker:</h4>
<%= link_to "#{@attacker.name}", country_path(@attacker), method: :get %><br>
Attacker Infantry Casualties: <%= number_to_human(@report.defender_killed_basic_infantry + @report.defender_killed_sea_infantry + @report.defender_killed_air_infantry + @report.defender_killed_armor_infantry) %><br> 
Attacker Armored Casualties: <%= number_to_human(@report.defender_killed_basic_armored + @report.defender_killed_sea_armored + @report.defender_killed_air_armored + @report.defender_killed_armor_armored) %><br>
Attacker Ship Casualties: <%= number_to_human(@report.defender_killed_basic_ship + @report.defender_killed_sea_ship + @report.defender_killed_air_ship + @report.defender_killed_armor_ship) %><br>
Attacker Aircraft Casualties: <%= number_to_human(@report.defender_killed_basic_aircraft + @report.defender_killed_sea_aircraft + @report.defender_killed_air_aircraft + @report.defender_killed_armor_aircraft) %><br>

<h4>Defender:</h4>
<%= link_to "#{@defender.name}", country_path(@defender), method: :get %><br>
Defender Infantry Casualties: <%= number_to_human(@report.killed_basic_infantry + @report.killed_sea_infantry + @report.killed_air_infantry + @report.killed_armor_infantry) %> <br>
Defender Armored Casualties: <%= number_to_human(@report.killed_basic_armored + @report.killed_sea_armored + @report.killed_air_armored + @report.killed_armor_armored) %> <br>
Defender Ship Casualties: <%= number_to_human(@report.killed_basic_ship + @report.killed_sea_ship + @report.killed_air_ship + @report.killed_armor_ship) %> <br>
Defender Aircraft Casualties: <%= number_to_human(@report.killed_basic_aircraft + @report.killed_sea_aircraft + @report.killed_air_aircraft + @report.killed_armor_aircraft) %> <br>
Land Taken: <%= number_to_human(@report.taken_land) %><br>
Houses Taken: <%= number_to_human(@report.taken_houses) %><br>
infrastructure Destroyed: <%= number_to_human(@report.destroyed_infrastructure) %><br>
Shops Taken: <%= number_to_human(@report.taken_shops) %><br>
Labs Taken: <%= number_to_human(@report.taken_labs) %><br>
Barracks Taken: <%= number_to_human(@report.taken_barracks) %><br>
Armories Taken: <%= number_to_human(@report.taken_armory) %><br>
Hangars Taken: <%= number_to_human(@report.taken_hangars) %><br>
Dockyards Taken: <%= number_to_human(@report.taken_dockyards) %><br>
Houses Destroyed: <%= number_to_human(@report.destroyed_houses) %><br>
Shops Destroyed: <%= number_to_human(@report.destroyed_shops) %><br>
Labs Destroyed: <%= number_to_human(@report.destroyed_labs) %><br>
Barracks Destroyed: <%= number_to_human(@report.destroyed_barracks) %><br>
Armories Destroyed: <%= number_to_human(@report.destroyed_armory) %><br>
Hangars Destroyed: <%= number_to_human(@report.destroyed_hangars) %><br>
Dockyards Destroyed: <%= number_to_human(@report.destroyed_dockyards) %><br>





