<h4><div id="banner">
<table>
  <tr>
    <td>
      <%= link_to 'Home', root_path, method: :get, style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Dashboard', user_game_path(@user_game), style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Explore&nbsp;Land'.html_safe,"/user_games/#{@user_game.id}/explore", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Build', "/user_games/#{@user_game.id}/build", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'Research', "/user_games/#{@user_game.id}/research", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'View&nbsp;Nations'.html_safe, "/user_games/#{@user_game.id}/countries", style: 'color: rgb(250, 235, 215)' %>
    </td>
    <td>●</td>
    <td>
      <%= link_to 'View&nbsp;Reports'.html_safe, "/user_games/#{@user_game.id}/reports", style: 'color: rgb(250, 235, 215)' %>
    </td>
  </tr>
</table>
</div>
</h4>

<div class="green-bg">
<h3> Game <%=@user_game.game_id%> </h3>
<center><h2><u><%= @country.name %></h2></u></center> <br>
<div class="tan-bg">
<center><%= button_to "Change name", edit_user_game_country_path(@user_game, @country), method: :get, params: {user_game_id: @user_game.id, game_id: @game.id}, class: "button" %></center><br>
</div>
<div class="tan-bg">
Money: <%= number_to_human(@country.money) %> (<%= number_to_currency(@country.money) %>)<br>
Gross Income: <%= number_to_human(@country.gross) %> (<%= number_to_currency(@country.gross) %>)<br>
Expenses: <%= number_to_human(@country.expenses)%> (<%= number_to_currency(@country.expenses) %>) <br>
Net Income: <%= number_to_human(@country.net) %> (<%= number_to_currency(@country.net) %>)<br>
Population: <%= number_to_human(@country.population) %>  (<%= number_with_delimiter(@country.population)%>) <br>
Turns: <%= @country.turns %><br>
Score: <%= number_with_delimiter(@country.score) %><br>
Research Points: <%= number_with_delimiter(@country.research_points) %><br>
Research Points Per Turn: <%= number_with_delimiter((@country.labs * 1.01**@country.research_tech).round) %><br>
Land: <%= number_with_delimiter(@country.land) %><br>
</div>
</ol>
  <center><h4> Buildings: </h4></center>
  <div class="tan-bg">
  <ol>
  <li>Houses: <%= number_with_delimiter(@country.houses) %></li>
  <li>infrastructure: <%= number_with_delimiter(@country.infrastructure) %></li>
  <li>Shops: <%= number_with_delimiter(@country.shops) %></li>
  <li>Barracks: <%= number_with_delimiter(@country.barracks) %></li>
  <li>Armories: <%= number_with_delimiter(@country.armory) %></li>
  <li>Hangars: <%= number_with_delimiter(@country.hangars) %></li>
  <li>Dockyards: <%= number_with_delimiter(@country.dockyards) %></li>
  <li>Labs: <%= number_with_delimiter(@country.labs) %></li>
  </div>
</ol>

<center><h4> Military: </h4></center>
<div class="tan-bg">
<ol>
  <li>Infantry:
    <ul>
      <li>Basic Infantry:  <%= number_with_delimiter(@country.basic_infantry) %></li>
      <li>Anti-air Infantry:  <%= number_with_delimiter(@country.air_infantry) %></li>
      <li>Marines:  <%= number_with_delimiter(@country.sea_infantry) %></li>
      <li>Anti-armor Infantry:  <%= number_with_delimiter(@country.armor_infantry) %></li>
    </ul>
  </li>

  <li>Ships:
    <ul>
      <li>Corvettes:  <%= number_with_delimiter(@country.basic_ship) %></li>
      <li>Frigates:  <%= number_with_delimiter(@country.air_ship) %></li>
      <li>Destroyers:  <%= number_with_delimiter(@country.sea_ship) %></li>
      <li>Cruisers:  <%= number_with_delimiter(@country.armor_ship) %></li>
    </ul>
  </li>

  <li>Armored:
    <ul>
      <li>Armored Vehicles:  <%= number_with_delimiter(@country.basic_armored) %></li>
      <li>AA Vehicles:  <%= number_with_delimiter(@country.air_armored) %></li>
      <li>Amphibious Vehicles:  <%= number_with_delimiter(@country.sea_armored) %></li>
      <li>Tanks:  <%= number_with_delimiter(@country.armor_armored) %></li>
    </ul>
  </li>

  <li>Aircraft:
    <ul>
      <li>Multi-role Fighters:  <%= number_with_delimiter(@country.basic_aircraft) %></li>
      <li>Fighter Jets:  <%= number_with_delimiter(@country.air_aircraft) %></li>
      <li>Naval Bombers:  <%= number_with_delimiter(@country.sea_aircraft) %></li>
      <li>Heavy Bombers:  <%= number_with_delimiter(@country.armor_aircraft) %></li>
    </ul>
  </li>
</div>
</div>

