<center><div id="banner">
<h1>Tactical Warfare</h1>
</div>
<h4><div id="banner-2">
<table class='full-table'>
  <tr>
    <td>
      <%= link_to 'Main&nbsp;Menu'.html_safe, root_path, method: :get, class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Dashboard', user_game_path(@user_game), class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Explore&nbsp;Land'.html_safe,"/user_games/#{@user_game.id}/explore", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Build', "/user_games/#{@user_game.id}/build", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Research', "/user_games/#{@user_game.id}/research", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Nation&nbsp;Leaderboard'.html_safe, "/user_games/#{@user_game.id}/countries", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to "Reports&nbsp;(#{@unread_reports.length})".html_safe, "/user_games/#{@user_game.id}/reports", class: 'banner-links' %>
    </td>
  </tr>
</table>
</div>
</h4>

<div class="green-bg">
<h3> Game <%=@game.id%> </h3> Game Date: <%=@game.game_date%><br>
<center><h2><u><%= @country.name %></h2></u></center> <br>
<div class="tan-bg">
<center><%= button_to "Change name", edit_user_game_country_path(@user_game, @country), method: :get, params: {user_game_id: @user_game.id, game_id: @game.id}, class: "button" %></center><br>
Foudned: <%=@country.created_date%><br>
Country Age: <%=@country.age%> years<br>
Money: <%= number_to_human(@country.money) %> (<%= number_to_currency(@country.money) %>)<br>
Gross Income: <%= number_to_human(@country.gross) %> (<%= number_to_currency(@country.gross) %>)<br>
Expenses: <%= number_to_human(@country.expenses)%> (<%= number_to_currency(@country.expenses) %>) <br>
Net Income: <%= number_to_human(@country.net) %> (<%= number_to_currency(@country.net) %>)<br>
Population: <%= number_to_human(@country.population) %>  (<%= number_with_delimiter(@country.population)%>) <br>
Turns: <%= @country.turns %><br>
GDP: <%= number_to_human(@country.gross * 365) %><br>
Score: <%= number_with_delimiter(@country.score) %><br>
Research Points: <%= number_with_delimiter(@country.research_points) %><br>
Research Points Per Turn: <%= number_with_delimiter((@country.labs * 1.01**@country.research_tech).round) %><br>
Land: <%= number_with_delimiter(@country.land) %><br>
</div>

  <center><h4> Buildings: </h4></center>
  <div class="tan-bg">
  
  Houses: <%= number_with_delimiter(@country.houses) %><br>
  infrastructure: <%= number_with_delimiter(@country.infrastructure) %><br>
  Shops: <%= number_with_delimiter(@country.shops) %><br>
  Barracks: <%= number_with_delimiter(@country.barracks) %><br>
  Armories: <%= number_with_delimiter(@country.armory) %><br>
  Hangars: <%= number_with_delimiter(@country.hangars) %><br>
  Dockyards: <%= number_with_delimiter(@country.dockyards) %><br>
  Labs: <%= number_with_delimiter(@country.labs) %>
  </div>

<center><h4> Military: </h4></center>
<div class="tan-bg">
  <h3>Infantry:</h3>
    
      Basic Infantry:  <%= number_with_delimiter(@country.basic_infantry) %><br>
      Anti-air Infantry:  <%= number_with_delimiter(@country.air_infantry) %><br>
      Marines:  <%= number_with_delimiter(@country.sea_infantry) %><br>
      Anti-armor Infantry:  <%= number_with_delimiter(@country.armor_infantry) %><br>
    
  

  <h3>Ships:</h3>
    
      Corvettes:  <%= number_with_delimiter(@country.basic_ship) %><br>
      Frigates:  <%= number_with_delimiter(@country.air_ship) %><br>
      Destroyers:  <%= number_with_delimiter(@country.sea_ship) %><br>
      Cruisers:  <%= number_with_delimiter(@country.armor_ship) %><br>
    
  

  <h3>Armored:</h3>
    
      Armored Vehicles:  <%= number_with_delimiter(@country.basic_armored) %><br>
      AA Vehicles:  <%= number_with_delimiter(@country.air_armored) %><br>
      Amphibious Vehicles:  <%= number_with_delimiter(@country.sea_armored) %><br>
      Tanks:  <%= number_with_delimiter(@country.armor_armored) %><br>
    
  

  <h3>Aircraft:</h3>
    
      Multi-role Fighters:  <%= number_with_delimiter(@country.basic_aircraft) %><br>
      Fighter Jets:  <%= number_with_delimiter(@country.air_aircraft) %><br>
      Naval Bombers:  <%= number_with_delimiter(@country.sea_aircraft) %><br>
      Heavy Bombers:  <%= number_with_delimiter(@country.armor_aircraft) %><br>
</div>

<h4>Battle Stats:</h4>
<div class="tan-bg">
<table>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Infantry Kills: <%= number_to_human(@country.infantry_kills) %></p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Infantry Casualties: <%= number_to_human(@country.infantry_casualties) %></p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Armored Vehicle Kills <%= number_to_human(@country.basic_vehicle_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Armored Vehicle Casualties <%= number_to_human(@country.basic_vehicle_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Amphibious Vehicle Kills <%= number_to_human(@country.sea_vehicle_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Amphibious Vehicle Casualties <%= number_to_human(@country.sea_vehicle_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Anti Air Vehicle Kills <%= number_to_human(@country.air_vehicle_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Anti Air Vehicle Casualties <%= number_to_human(@country.air_vehicle_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Tank  Kills <%= number_to_human(@country.armor_vehicle_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Tank Casualties <%= number_to_human(@country.armor_vehicle_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Multi-Role Fighter Kills <%= number_to_human(@country.basic_aircraft_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Multi-Role Fighter Casualties <%= number_to_human(@country.basic_aircraft_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Fighter Jet Kills <%= number_to_human(@country.air_aircraft_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Fighter Jet Casualties <%= number_to_human(@country.air_aircraft_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Naval Bomber Kills <%= number_to_human(@country.sea_aircraft_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Naval Bomber Casualties <%= number_to_human(@country.sea_aircraft_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Heavy Bomber Kills <%= number_to_human(@country.armor_aircraft_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Heavy Bomber Casualties <%= number_to_human(@country.armor_aircraft_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Corvette Kills <%= number_to_human(@country.basic_ship_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Corvette Casualties <%= number_to_human(@country.basic_ship_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Frigate Kills <%= number_to_human(@country.air_ship_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Frigate Casualties <%= number_to_human(@country.air_ship_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Destroyer Kills <%= number_to_human(@country.sea_ship_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Destroyer Casualties <%= number_to_human(@country.sea_ship_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Cruiser Kills <%= number_to_human(@country.armor_ship_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Cruiser Casualties <%= number_to_human(@country.armor_ship_casualties) %> </p>
    </td>
  </tr>
</table>
</div>
</div>

</center>