<h4><div id="banner">
<table>
<ul>
  <tr>
    <td>
      <li><%= link_to 'Home', root_path, method: :get, style: 'color: rgb(250, 235, 215)' %></li>
    </td>
    <td>
      <li><%= link_to 'Dashboard', user_game_path(@user_game), style: 'color: rgb(250, 235, 215)' %></li>
    </td>
    <td>
      <li><%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", style: 'color: rgb(250, 235, 215)' %></li>
    </td>
    <td>
      <li><%= link_to 'Explore Land',"/user_games/#{@user_game.id}/explore", style: 'color: rgb(250, 235, 215)' %></li>
    </td>
    <td>
      <li><%= link_to 'Build', "/user_games/#{@user_game.id}/build", style: 'color: rgb(250, 235, 215)' %></li>
    </td>
    <td>
      <li><%= link_to 'Research', "/user_games/#{@user_game.id}/research", style: 'color: rgb(250, 235, 215)' %></li>
    </td>
    <td>
      <li><%= link_to 'View Nations', "/user_games/#{@user_game.id}/countries", style: 'color: rgb(250, 235, 215)' %></li>
    </td>
    <td>
      <li><%= link_to 'View Reports', "/user_games/#{@user_game.id}/reports", style: 'color: rgb(250, 235, 215)' %></li>
    </td>
  </tr>
</ul>
</table>
</div>
</h4>
Turns: <%=@country.turns%><br>

Gain 5-20 land per turn<br>
<%= form_with url: user_game_path(@user_game), method: :patch, local: true do |form| %>
    <%= form.label :turns_to_explore_land %>
    <%= form.number_field :explore_land, required: true %>
  <%= form.submit "Explore" %>
<% end %><br>