<h4>Change Name </h4>
<%= form_with url: user_game_country_path(@user_game, @country), method: :patch, local: true do |form| %>
    <%= form.label :country_name %> <br>
    <%= form.text_field :name %> <br> 
    <%= hidden_field_tag 'game_id', @game.id  %>
    <%= hidden_field_tag 'user_game_id', @user_game.id  %>

  <%= form.submit "Change" %>
<% end %><br>