<center><div id="banner">
</div>
<h4><div id="banner-2">
<table class='full-table'>
  <tr>
    <td>
      <%= link_to 'Main&nbsp;Menu'.html_safe, root_path, method: :get, class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Dashboard', user_game_path(@user_game), class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Explore&nbsp;Land'.html_safe,"/user_games/#{@user_game.id}/explore", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Build', "/user_games/#{@user_game.id}/build", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Research', "/user_games/#{@user_game.id}/research", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Nation&nbsp;Leaderboard'.html_safe, "/user_games/#{@user_game.id}/countries", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to "Reports&nbsp;(#{@unread_reports.length})".html_safe, "/user_games/#{@user_game.id}/reports", class: 'banner-links' %>
    </td>
  </tr>
</table>
</div>
</h4>
<div class="tan-bg">
<h4>Change Name </h4>
<%= form_with url: user_game_country_path(@user_game, @country), method: :patch, local: true do |form| %>
    <%= form.label :country_name %> <br>
    <%= form.text_field :name %> <br> 
    <%= hidden_field_tag 'game_id', @game.id  %>
    <%= hidden_field_tag 'user_game_id', @user_game.id  %>

  <%= form.submit "Change", class: "button" %>
<% end %><br>
</div>
</center>