<center><div id="banner">
<h1> Tactical Warfare </h1>
</div>
<h4><div id="banner">
<table class='full-table'>
  <tr>
    <td>
      <%= link_to 'Home', root_path, method: :get, class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Dashboard', user_game_path(@user_game), class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Explore&nbsp;Land'.html_safe,"/user_games/#{@user_game.id}/explore", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Build', "/user_games/#{@user_game.id}/build", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Research', "/user_games/#{@user_game.id}/research", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'View&nbsp;Nations'.html_safe, "/user_games/#{@user_game.id}/countries", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'View&nbsp;Reports'.html_safe, "/user_games/#{@user_game.id}/reports", class: 'banner-links' %>
    </td>
  </tr>
</table>
</div>
</h4>
<div class="tan-bg">
<ol>
<h3>Country Ranking:</h3><br> <% @countries.ranking.each do |country|%>
<li>
<%= link_to country.name, "/user_games/#{@user_game.id}/countries/#{country.id}", class: "nation-links"%>, Score: <%=number_to_human(country.score)%> (<%=number_with_delimiter(country.score)%>)
</li><br>
<% end %>
</ol>
</div>
</center>