<center><div id="banner">
</div>
<h4><div id="banner-2">
<table class='full-table'>
  <tr>
    <td>
      <%= link_to 'Main&nbsp;Menu'.html_safe, root_path, method: :get, class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Dashboard', user_game_path(@user_game), class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Recruit', "/user_games/#{@user_game.id}/recruit", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Explore&nbsp;Land'.html_safe,"/user_games/#{@user_game.id}/explore", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Build', "/user_games/#{@user_game.id}/build", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Research', "/user_games/#{@user_game.id}/research", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to 'Nation&nbsp;Leaderboard'.html_safe, "/user_games/#{@user_game.id}/countries", class: 'banner-links' %>
    </td>
    <td>
      <%= link_to "Reports&nbsp;(#{@unread_reports.length})".html_safe, "/user_games/#{@user_game.id}/reports", class: 'banner-links' %>
    </td>
  </tr>
</table>
</div>
</h4>


<div class="green-bg">
<u><h3>The Nation of <%= @country.name %></h3></u>
<p><u>Game Date: <%= @game.game_date%></u><p>
<div class="tan-bg">
<%= button_to "Attack", user_game_path(@user_game), method: :patch,form: { data: { turbo_confirm: "Are you sure?" } }, params: {:attacker_id => @user_country.id, :defender_id => @country.id}, class: "button"%>

Note: Attacks take 100 Turns<br>
</div>

<h4>Information:</h4>
<div class="tan-bg">
<b>Foudned:</b> <%=@country.created_date%><br>
<b>Country Age:</b> <%=@country.age%> years<br>
<b>Population:</b> <%= number_to_human(@country.population) %>  (<%= number_with_delimiter(@country.population)%>) <br>
<b>Score:</b> <%= number_with_delimiter(@country.score) %><br>
<b>Land:</b> <%= number_with_delimiter(@country.land) %><br>
</div>

<h4>Battle Stats:</h4>
<div class="tan-bg">
<table>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Infantry Kills: <%= number_to_human(@country.infantry_kills) %></p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Infantry Casualties: <%= number_to_human(@country.infantry_casualties) %></p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Armored Vehicle Kills <%= number_to_human(@country.basic_vehicle_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Armored Vehicle Casualties <%= number_to_human(@country.basic_vehicle_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Amphibious Vehicle Kills <%= number_to_human(@country.sea_vehicle_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Amphibious Vehicle Casualties <%= number_to_human(@country.sea_vehicle_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Anti Air Vehicle Kills <%= number_to_human(@country.air_vehicle_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Anti Air Vehicle Casualties <%= number_to_human(@country.air_vehicle_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Tank  Kills <%= number_to_human(@country.armor_vehicle_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Tank Casualties <%= number_to_human(@country.armor_vehicle_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Multi-Role Fighter Kills <%= number_to_human(@country.basic_aircraft_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Multi-Role Fighter Casualties <%= number_to_human(@country.basic_aircraft_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Fighter Jet Kills <%= number_to_human(@country.air_aircraft_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Fighter Jet Casualties <%= number_to_human(@country.air_aircraft_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Naval Bomber Kills <%= number_to_human(@country.sea_aircraft_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Naval Bomber Casualties <%= number_to_human(@country.sea_aircraft_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Heavy Bomber Kills <%= number_to_human(@country.armor_aircraft_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Heavy Bomber Casualties <%= number_to_human(@country.armor_aircraft_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Corvette Kills <%= number_to_human(@country.basic_ship_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Corvette Casualties <%= number_to_human(@country.basic_ship_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Frigate Kills <%= number_to_human(@country.air_ship_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Frigate Casualties <%= number_to_human(@country.air_ship_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Destroyer Kills <%= number_to_human(@country.sea_ship_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Destroyer Casualties <%= number_to_human(@country.sea_ship_casualties) %> </p>
    </td>
  </tr>
  <tr>
    <td>
      <p style="color:rgb(85, 107, 47);">Cruiser Kills <%= number_to_human(@country.armor_ship_kills) %> </p>
    </td>
    <td>
      <p style="color:rgb(178, 34, 34);">Cruiser Casualties <%= number_to_human(@country.armor_ship_casualties) %> </p>
    </td>
  </tr>
</table>
</div>
</div>
</center>