<!DOCTYPE html>
<html>
  <head>
  <%= javascript_include_tag "application" %>
    <title>TacticalWarfare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
       <% flash.each do |type, msg| %>
        <% if type == "success" %>
         <div id=flash_message>
            <p style="color:green"><b><%= msg %></b></p>
          </div>
        <% else %>
          <div id=flash_message>
            <p style="color:red"><b><%= msg %></b></p>
          </div>
        <% end %>
      <% end %>

    <style>
      body {
        background-color: rgb(250, 235, 215);
        text-shadow: -0.05px -0.05px 0 #000, 0.05px -0.05px 0 #000, -0.05px 0.05px 0 #000, 0.05px 0.05px 0 #000;
        color: rgb(85, 107, 47);
      }

      .green-bg { 
        background-color: rgb(85, 107, 47);
        color: rgb(250, 235, 215);
        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;

      } 

      .tan-bg {
        background-color: rgb(250, 235, 215);
        border-width: thick;
        color: rgb(85, 107, 47);
      }

      div#banner { 
       position: relative; 
       top: 0; 
       left: 0; 
       overflow-x: auto;
       padding-top: 1%;
       color: rgb(250, 235, 215);
       padding-bottom: 2%;
       background-color: rgb(85, 107, 47); 
       width: 100%; 
     }

      div#margin_top { 
        position: relative; 
        margin: 5%;
      }

      .button {
        padding: 0.5%;
        margin: 0.5%;
        background-color:rgb(85, 107, 47);
        color: rgb(250, 235, 215);
        border-radius: 8px;
        border: 1px solid black;
      }

      .button:hover {
        color: red;
      }

      .big-button {
        padding: 0.6%;
        margin: 0.5%;
        background-color:rgb(85, 107, 47);
        color: rgb(250, 235, 215);
        border-radius: 8px;
        border: 1px solid black;
        font-size: 20px;
      }

      .tutorial-button {
        padding: 0.9%;
        margin: 0.5%;
        background-color:rgb(85, 107, 47);
        color: rgb(250, 235, 215);
        border-radius: 8px;
        border: 1px solid red;
        font-size: 20px;
        max-width: 200px;
      }

      .tutorial-link {
        padding: 0.9%;
        margin: 0.5%;
        background-color:rgb(85, 107, 47);
        color: rgb(250, 235, 215);
        border-radius: 8px;
        font-size: 20px;
      }

      .tutorial-link:hover {
        color: red;
        cursor: pointer;
      }

      .big-button:hover {
        color: red;
        cursor: pointer;
      }

      .nation-links{
        color: rgb(85, 107, 47);
      }

      .nation-links:hover{
        color: red;
        cursor: pointer;
      }

      .banner-links{
          color: rgb(250, 235, 215);
      }

      .banner-links:hover{
        color: red;
        cursor: pointer;
      }
    
      td {
        padding-left: 10px;
        padding-right: 10px;
      }
      details>summary {
      
        list-style: none;
      }
      summary::-webkit-details-marker {
        display: none
      }
      
      summary:hover {
        color: red;
        cursor: pointer;
      }
      
      summary::after {
        content: ' +';
      }
      details[open] summary:after {
        content: " (collapse)";
      }
 
      .details:hover{
        color: red;
        cursor: pointer;
      }

    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
