<!DOCTYPE html>
<html>
  <head>
  <%= javascript_include_tag "application" %>
    <title>TacticalWarfare</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
       <% flash.each do |type, msg| %>
        <% if type == "success" %>
         <div id=flash_message>
            <p style="color:green"><b><%= msg %></b></p>
          </div>
        <% else %>
          <div id=flash_message>
            <p style="color:red"><b><%= msg %></b></p>
          </div>
        <% end %>
      <% end %>

    <style>
      body {
        background-color: rgb(250, 235, 215);
        text-shadow: -0.1px -0.1px 0 #000, 0.1px -0.1px 0 #000, -0.1px 0.1px 0 #000, 0.1px 0.1px 0 #000;
      }

      .green-bg { 
        background-color: rgb(85, 107, 47);
        color: rgb(250, 235, 215);
        padding-top: 1%;
        padding-left: 1%;
        padding-right: 1%;
        padding-bottom: 1%;

      } 

      .tan-bg {
        background-color: rgb(250, 235, 215);
        border-width: thick;
        color: rgb(85, 107, 47);

      }

      div#banner { 
       position: relative; 
       top: 0; 
       left: 0; 
       padding-top: 1%;
       padding-bottom: 2%;
       background-color: rgb(85, 107, 47); 
       width: 100%; 
       text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
     }

      div#margin_top { 
        position: relative; 
        margin: 5%;
      }
     
    </style>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
